* {
  text-align: center;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  width: 100%;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  text-align: center;
  margin: 100px auto;
}

input[type="submit"] {
  box-shadow: -2px -2px 5px #fafafa, 2px 2px 5px #aeaec0;
  min-width: 100px;
  padding: 15px 30px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.input input[type="text"] {
  box-shadow: inset 1px 1px 10px #aeaec0, -3px -3px 5px #fafafa;

  height: 55px;
  padding: 5px 10px;
  background: #eeeeee;
  border: none;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.container {
  box-shadow: -5px -5px 20px #fafafa, 5px 5px 20px #aeaec0;
  border-radius: 20px;
  padding: 50px;
  display: flex;
}

.weather-card {
  margin-left: 70px;
  margin-right: 50px;
}

.weather-card #name {
  font-size: 1.5rem;
}

.weather-card .temp {
  margin-top: 10px;
  font-size: 2.5rem;
}

.weather-card .state {
  margin-top: 10px;
  font-size: 1rem;
}

.weather-card .wind {
  margin-top: 5px;
  font-size: 0.8rem;
}

.Image-Wrapper {
}

.Image {
  filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000);
  min-width: 120px;
}
